@import "variables";
.Text {
  width: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  cursor: pointer;
}
.solid{
  background: $gradient;
  &:hover{
    background: $reverse-gradient;
  }
}
.primary{
  background: white;
  &:hover{
    background: $gradient;
  }
}
