/** colors **/
$gradient: linear-gradient(90deg, #833AB4 0%, #d91e60 100%);
$reverse-gradient: linear-gradient(90deg, #FD1D1D 0%, #833AB4 100%);
$horizontal-gradient: linear-gradient(#833AB4 0%, #FD1D1D 100%);
$gray: #7F7F7F;
$darkgray: #101010;
$pink: #833AB4;
$red: #FD1D1D;
$background: #1d1d1d;
/** font sizes **/
$f-min: 18px;
$f-primary: 22px;
$f-middle: 36px;
$f-huge: 92px;
/** font widths **/
$fw-min: 300;
$fw-primary: 400;
$fw-middle: 600;
$fw-huge: 700;

