@import "variables";
.Header{
  position: fixed;
  width: 100%;
  padding: 5px 60px;
  font-size: $f-primary;
  background: $darkgray;
  z-index: 99999;
  &__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    &-intro{
      display: flex;
      align-items: center;
      gap: 20px;
      &-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
      }
      &-links{
        margin-left: 60px;
        display: flex;
        gap: 20px;
      }
    }
    &-phones{
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-container{
      font-weight: $fw-middle;
      text-transform: uppercase ;
      display: flex;
      gap: 30px;
      padding: 10px;
    }
    &-adress{

    }
  }
}
