@import "variables";
.Header{
  position: fixed;
  width: 100%;
  padding: 5px 60px;
  font-size: $f-primary;
  background: $darkgray;
  z-index: 99999;
  &__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    &-intro{
      display: flex;
      align-items: center;
      gap: 20px;
      &-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
      }
      &-links{
        margin-left: 60px;
        display: flex;
        gap: 20px;
      }
    }
    &-phones{
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-container{
      font-weight: $fw-middle;
      text-transform: uppercase ;
      display: flex;
      gap: 30px;
      padding: 10px;
    }
  }
}

@media (max-width: 1650px) {
  .Header{
    padding: 5px calc(5px + (60 - 5) * ((100vw - 320px) / (1650 - 320)));
    font-size: calc(10px + (22 - 10) * ((100vw - 320px) / (1650 - 320))) !important;
    &__nav-container{
        gap: calc(5px + (30 - 5) * ((100vw - 320px) / (1650 - 320)));
    }
  }
}
@media (max-width: 1120px) {
  .Header{
    &__links{
      &-intro{
        font-size: $f-middle;
        &-logo{
          img:nth-child(2){
            display: none;
          }
        }
      }
    }
    &__nav{
      justify-content: center;
      &-address{
        display: none;
      }
    }
  }
}
@media (max-width: 810px) {
  .Header{
    &__links{
      &-intro{
        font-size: $f-min;
        &-logo{
          img:nth-child(2){
            display: none;
          }
        }
        &-links{
          margin-left: calc(5px + (30 - 5) * ((100vw - 320px) / (1650 - 320)));
          gap:  calc(5px + (20 - 5) * ((100vw - 320px) / (1650 - 320)));
        }
      }
      &-phones{
        gap: calc(5px + (60 - 5) * ((100vw - 320px) / (1650 - 320)));
      }
    }
    &__nav{
      justify-content: center;
    }
  }
}
@media (max-width: 670px) {
  .Header{
    &__links{
      &-intro{
        font-size: $f-min;
        &-logo{
          img:nth-child(1){
            display: none;
          }
        }
      }
      &-phones{
        & > *:last-child{
          display: none;
        }
      }
    }
    &__nav{
      justify-content: center;
    }
  }
}