@import '_variables';
.Object{
  display: flex;
  align-items: center;
  &__selected{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    &-title{
      font-size: $f-primary;
      font-weight: $fw-middle;
    }
    &-item{
      display: flex;
      gap: 5px;
      align-items: center;
      & > div{
        font-size: $f-min;
        font-weight: $fw-huge;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text !important;
        background: $gradient;
      }
    }
  }
  &__nav{
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    &-item{
      line-height: $f-primary + 5px;
      border-radius: 80px;
      cursor: pointer;
      border: double 3px transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: fit-content;
      &.active{
        background-image: linear-gradient(#1D1D1D, #1D1D1D),
        radial-gradient(circle at top left, #833AB4,#FD1D1D);
      }
      &:hover{
        background-image: $reverse-gradient,
        radial-gradient(circle at top left,#FD1D1D,#833AB4);
      }
      &:active{
        background-image: linear-gradient(#1D1D1D, #1D1D1D),
        radial-gradient(circle at top left, #833AB4,#FD1D1D);
      }
    }
  }
  &__item{
    width: 1000px;
    border-radius: 12px;
    Canvas{
      height: 400px;
    }
  }
}
@media (max-width: 1230px) {
  .Object{
    flex-wrap: wrap;
    &__selected{
      order: 1;
    }
    &__nav{
      order: 3;
      flex-direction: row;
    }
    &__item{
      order: 2;
    }
  }
}
@media (max-width: 1022px) {
  .Object{
    &__item{
      width: calc(300px + (1000 - 300) * ((100vw - 320px) / (1022 - 320)));
    }
  }
}
@media (max-width: 460px) {
  .Object{
    &__nav{
      flex-direction: column;
    }
  }
}